@charset "UTF-8";
.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.5em;
  border: 0.25em solid #FE403F;
  border-radius: 1em;
  margin: auto; }

@keyframes scroll_2 {
  0% {
    transform: translateY(0);
    opacity: 1; }
  25% {
    opacity: 1; }
  75% {
    transform: translateY(0.75em);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 0; } }

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #FE403F;
  height: .5em;
  width: .5em;
  top: .6em;
  margin-left: -.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite; }

/* COLORES */
/* TIPOGRAFÍA */
body {
  font-size: 62,5%; }

/* COLORES */
/* TIPOGRAFÍA */
body {
  font-size: 62,5%; }

html {
  scroll-behavior: smooth; }

.menu {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px; }

.logoMenu {
  font-family: rift, sans-serif;
  color: #FE403F;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic; }

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  list-style: none; }

ul li {
  margin-right: 20px;
  text-decoration: none;
  margin-bottom: 50px; }

ul li a {
  font-family: rift, sans-serif;
  font-size: 1.4rem;
  color: #FE403F;
  font-style: italic; }

ul li a:hover {
  font-family: rift, sans-serif;
  font-size: 1.4rem;
  color: #FE403F;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px; }

.burgerBtn {
  display: none; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px; }
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    list-style: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 15vh;
    right: 0;
    background-color: #FE403F;
    z-index: 1;
    transform: translate(100%);
    transition: transform 0.5s ease-in; }
  .liHome {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(500px);
    transition: transform 1s ease-in-out; }
  .liAbout {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(500px);
    transition: transform 1s ease-in-out 0.2s; }
  .liTrabajos {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(500px);
    transition: transform 1s ease-in-out 0.4s; }
  .liContacto {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(500px);
    transition: transform 1s ease-in-out 0.6s; }
  .active {
    transform: translate(0%); }
  ul li a {
    font-family: rift, sans-serif;
    font-size: 1.4rem;
    color: white;
    font-style: italic; }
  ul li a:hover {
    font-family: rift, sans-serif;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 5px; }
  .logoMenu {
    font-family: rift, sans-serif;
    color: #FE403F;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px; }
  /* ICONO BURGER */
  .contenedorBurger {
    display: flex;
    margin-left: auto; }
  .linea1 {
    background-color: #FE403F;
    width: 25px;
    height: 3px;
    transition: transform 0.2s ease-in; }
  .linea2 {
    background-color: #FE403F;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: opacity 0.2s ease-in; }
  .linea3 {
    background-color: #FE403F;
    width: 25px;
    height: 3px;
    transition: transform 0.2s ease-in; }
  .toggle .linea1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  .toggle .linea2 {
    opacity: 0; }
  .toggle .linea3 {
    transform: rotate(45deg) translate(-5px, -6px); }
  .burgerBtn {
    display: block;
    cursor: pointer; }
  .nav-active {
    transform: translateX(0%); } }

/* CELULAR */
@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px; }
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    list-style: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 15vh;
    right: 0;
    background-color: #FE403F;
    z-index: 1;
    transform: translate(100%);
    transition: transform 0.5s ease-in; }
  .liHome {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(500px);
    transition: transform 1s ease-in-out; }
  .liAbout {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(500px);
    transition: transform 1s ease-in-out 0.2s; }
  .liTrabajos {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(500px);
    transition: transform 1s ease-in-out 0.4s; }
  .liContacto {
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 50px;
    transform: translate(500px);
    transition: transform 1s ease-in-out 0.6s; }
  .active {
    transform: translate(0%); }
  ul li a {
    font-family: rift, sans-serif;
    font-size: 1.4rem;
    color: white;
    font-style: italic; }
  ul li a:hover {
    font-family: rift, sans-serif;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 5px; }
  .logoMenu {
    font-family: rift, sans-serif;
    color: #FE403F;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px; }
  /* ICONO BURGER */
  .contenedorBurger {
    display: flex;
    margin-left: auto; }
  .linea1 {
    background-color: #FE403F;
    width: 25px;
    height: 3px;
    transition: transform 0.2s ease-in; }
  .linea2 {
    background-color: #FE403F;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: opacity 0.2s ease-in; }
  .linea3 {
    background-color: #FE403F;
    width: 25px;
    height: 3px;
    transition: transform 0.2s ease-in; }
  .toggle .linea1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  .toggle .linea2 {
    opacity: 0; }
  .toggle .linea3 {
    transform: rotate(45deg) translate(-5px, -6px); }
  .burgerBtn {
    display: block;
    cursor: pointer; }
  .nav-active {
    transform: translateX(0%); } }

/* COLORES */
/* TIPOGRAFÍA */
body {
  font-size: 62,5%; }

#home {
  background-color: white;
  height: 100vh;
  padding-bottom: 50px; }

.home__hero__col1 {
  padding-top: 200px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 0; }

.home__hero__h1--social {
  font-family: rift, sans-serif;
  font-style: italic;
  color: transparent;
  font-weight: bold;
  display: block;
  font-size: 6.5rem;
  text-align: center;
  -webkit-text-stroke: 1px #FE403F;
  opacity: 0.15; }

.home__hero__h1--guinda {
  font-family: rift, sans-serif;
  font-style: italic;
  color: #FE403F;
  font-weight: bold;
  display: block;
  font-size: 6.5rem;
  text-align: center;
  margin-top: -100px;
  margin-bottom: -100px; }

.flicker-2 {
  -webkit-animation: flicker-2 2s linear 2 both;
  animation: flicker-2 2s linear 2 both; }

@-webkit-keyframes flicker-2 {
  0%,
  100% {
    opacity: 1; }
  41.99% {
    opacity: 1; }
  42% {
    opacity: 0; }
  43% {
    opacity: 0; }
  43.01% {
    opacity: 1; }
  45.99% {
    opacity: 1; }
  46% {
    opacity: 0; }
  46.9% {
    opacity: 0; }
  46.91% {
    opacity: 1; }
  51.99% {
    opacity: 1; }
  52% {
    opacity: 0; }
  52.8% {
    opacity: 0; }
  52.81% {
    opacity: 1; } }

@keyframes flicker-2 {
  0%,
  100% {
    opacity: 1; }
  41.99% {
    opacity: 1; }
  42% {
    opacity: 0; }
  43% {
    opacity: 0; }
  43.01% {
    opacity: 1; }
  45.99% {
    opacity: 1; }
  46% {
    opacity: 0; }
  46.9% {
    opacity: 0; }
  46.91% {
    opacity: 1; }
  51.99% {
    opacity: 1; }
  52% {
    opacity: 0; }
  52.8% {
    opacity: 0; }
  52.81% {
    opacity: 1; } }

.home__hero__h1--media {
  font-family: rift, sans-serif;
  font-style: italic;
  color: transparent;
  font-weight: bold;
  display: block;
  font-size: 6.5rem;
  text-align: center;
  -webkit-text-stroke: 1px #FE403F;
  opacity: 0.15; }

.home__hero__col2 {
  padding-top: 250px; }

.bounce-top {
  -webkit-animation: bounce-top 0.9s 2s both;
  animation: bounce-top 0.9s 2s both; }

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .home__hero__col1 {
    padding-top: 300px; }
  .home__hero__h1--social {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 7rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    opacity: 0.1; }
  .home__hero__h1--guinda {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 7rem;
    text-align: center;
    margin-top: -100px;
    margin-bottom: -100px; }
  .home__hero__h1--media {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 7rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    opacity: 0.1; } }

/* COMPUTADORA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home__hero__col1 {
    padding-top: 100px; }
  .home__hero__h1--social {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 8rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    opacity: 0.1; }
  .home__hero__h1--guinda {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 8rem;
    text-align: center;
    margin-top: -100px;
    margin-bottom: -100px; }
  .home__hero__h1--media {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 8rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    opacity: 0.1; }
  .home__hero__col2 {
    padding-top: 200px; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .home__hero__col1 {
    padding-top: 50px; }
  .home__hero__h1--social {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 9rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    opacity: 0.1; }
  .home__hero__h1--guinda {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 9rem;
    text-align: center;
    margin-top: -100px;
    margin-bottom: -100px; }
  .home__hero__h1--media {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 9rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    opacity: 0.1; }
  .home__hero__col2 {
    padding-top: 150px; } }

/* COLORES */
/* TIPOGRAFÍA */
body {
  font-size: 62,5%; }

.home__about {
  background-image: url(../imagenes/bg-about.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 50px 200px 50px !important; }

.home__about__col1 {
  margin-bottom: 30px; }

.home__about__h2--01 {
  font-family: rift, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  color: white;
  margin-bottom: -20px; }

.home__about__h2--about {
  font-family: rift, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 1px white; }

.home__about__p {
  font-family: rift, sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px; }

.home__about__h3 {
  font-family: rift, sans-serif;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 40px;
  transition: content 2s ease-in; }

.home__about__h3::after {
  content: url(../imagenes/thunder.svg);
  opacity: 0;
  transition: all 0.5s ease-in; }

.home__about__h3:hover::after {
  content: url(../imagenes/thunder.svg);
  opacity: 1; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .home__about {
    background-color: #FE403F;
    padding: 200px 75px 200px 50px !important; }
  .home__about__h2--01 {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-bottom: -20px;
    text-align: right; }
  .home__about__h2--about {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: right; }
  .home__about__col1 {
    margin-right: 75px; }
  .home__about__p {
    font-family: rift, sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    text-align: left; }
  .home__about__h3 {
    font-family: rift, sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 40px;
    text-align: left; } }

/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home__about {
    background-color: #FE403F;
    padding: 200px 75px 200px 50px !important; }
  .home__about__h2--01 {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-bottom: -20px;
    text-align: right; }
  .home__about__h2--about {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: right; }
  .home__about__col1 {
    margin-right: 75px; }
  .home__about__p {
    font-family: rift, sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    text-align: left; }
  .home__about__h3 {
    font-family: rift, sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 40px;
    text-align: left; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .home__about {
    background-color: #FE403F;
    padding: 200px 75px 200px 50px !important; }
  .home__about__h2--01 {
    font-family: rift, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-bottom: -20px;
    text-align: right; }
  .home__about__h2--about {
    font-family: rift, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: right; }
  .home__about__col1 {
    margin-right: 75px;
    margin-top: auto;
    margin-bottom: auto; }
  .home__about__p {
    font-family: rift, sans-serif;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    text-align: left; }
  .home__about__h3 {
    font-family: rift, sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 40px;
    text-align: left; } }

/* COLORES */
/* TIPOGRAFÍA */
body {
  font-size: 62,5%; }

.home__trabajos {
  background-color: white;
  padding: 200px 0px 200px 0px !important; }

.home__trabajos__col1 {
  margin-bottom: 30px;
  text-align: right; }

.home__trabajos__h2--02 {
  font-family: rift, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  color: #FE403F;
  margin-bottom: -20px;
  margin-right: 30px; }

.home__trabajos__h2--trabajos {
  font-family: rift, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 1px #FE403F;
  margin-right: 30px; }

.home__trabajos__row {
  margin-bottom: 30px; }

/* PORTFOLIO */
.home__trabajos__col2 {
  text-align: left; }

.home__trabajos__col3 {
  text-align: left; }

.home__trabajos__col2--seccion1 {
  position: relative; }

.home__trabajos__col2--seccion2 {
  position: relative; }

.home__trabajos__h3--Portfolio {
  font-family: rift, sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
  color: #676767;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0px; }

.home__trabajos__p--Portfolio {
  font-family: rift, sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: regular;
  color: #676767;
  text-align: center;
  margin-bottom: 35px; }

.imgTumenuonline {
  width: 100%; }

.home__trabajos__a--Portfolio {
  text-decoration: none;
  font-family: rift, sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
  color: #676767;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0px; }

.home__trabajos__a--Portfolio:hover {
  text-decoration: none;
  font-family: rift, sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
  color: #FE403F;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0px; }

/* FIN PORTFOLIO */
.home__trabajos--logos {
  height: 100px;
  width: auto; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .home__trabajos__col1 {
    text-align: right; }
  .home__trabajos__h2--02 {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: #FE403F;
    margin-bottom: -20px; }
  .home__trabajos__h2--trabajos {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px #FE403F; } }

/* COMPUTADORA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home__trabajos {
    background-color: white;
    padding: 100px 50px 100px 50px !important; }
  .home__trabajos__col1 {
    text-align: right; }
  .home__trabajos__h2--02 {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: #FE403F;
    margin-bottom: -20px; }
  .home__trabajos__h2--trabajos {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px #FE403F; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .home__trabajos {
    background-color: white;
    padding: 100px 50px 100px 50px !important; }
  .home__trabajos__col1 {
    padding-right: 200px;
    text-align: right;
    padding-top: 50px; }
  .home__trabajos__h2--02 {
    font-family: rift, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    color: #FE403F;
    margin-bottom: -20px; }
  .home__trabajos__h2--trabajos {
    font-family: rift, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px #FE403F; } }

/* COLORES */
/* TIPOGRAFÍA */
body {
  font-size: 62,5%; }

.home__contacto {
  background-image: url(../imagenes/bg-about.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 50px 200px 50px !important; }

.home__contacto__col1 {
  margin-bottom: 20px; }

.home__contacto__h2--02 {
  font-family: rift, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  color: white;
  margin-bottom: -20px; }

.home__contacto__h2--contacto {
  font-family: rift, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 1px white; }

.home__contacto__parrafo {
  font-family: rift, sans-serif;
  color: white;
  font-style: italic;
  text-align: left;
  font-size: 1rem; }

.home__contacto__input {
  border: solid 1px white;
  border-radius: 100px;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 90%;
  margin-bottom: 10px;
  color: white;
  font-family: rift, sans-serif;
  font-size: 1rem;
  font-style: italic;
  outline: none; }

.home__contacto__input::placeholder {
  font-family: rift, sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: white; }

.home__contacto__mensaje {
  border: solid 1px white;
  border-radius: 20px;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 90%;
  margin-bottom: 10px;
  color: white;
  font-family: rift, sans-serif;
  font-size: 1rem;
  font-style: italic;
  outline: none; }

.home__contacto__mensaje::placeholder {
  font-family: rift, sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: white; }

#home__contacto__boton {
  color: white;
  font-family: rift, sans-serif;
  font-style: italic;
  background-color: transparent;
  border: solid 1px white;
  width: 100px;
  border-radius: 100px; }

#home__contacto__boton:hover {
  font-weight: bold; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .home__contacto__col1 {
    margin-right: 75px; }
  .home__contacto__h2--02 {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-bottom: -20px;
    text-align: right; }
  .home__contacto__h2--contacto {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: right; }
  .home__contacto__parrafo {
    font-family: rift, sans-serif;
    color: white;
    font-style: italic;
    text-align: right;
    font-size: 1rem; } }

/* COMPUTADORA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home__contacto__col1 {
    margin-right: 75px; }
  .home__contacto__h2--02 {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-bottom: -20px;
    text-align: right; }
  .home__contacto__h2--contacto {
    font-family: rift, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: right; }
  .home__contacto__parrafo {
    font-family: rift, sans-serif;
    color: white;
    font-style: italic;
    text-align: right;
    font-size: 1rem; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .home__contacto__col1 {
    margin-right: 100px; }
  .home__contacto__h2--02 {
    font-family: rift, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-bottom: -20px;
    text-align: right; }
  .home__contacto__h2--contacto {
    font-family: rift, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: right; }
  .home__contacto__parrafo {
    font-family: rift, sans-serif;
    color: white;
    font-style: italic;
    text-align: right;
    font-size: 1.2rem; } }

/* COLORES */
/* TIPOGRAFÍA */
body {
  font-size: 62,5%; }

.home__footer {
  background-color: white;
  padding-top: 200px;
  padding-bottom: 200px; }

.home__footer__row {
  margin-left: 50px;
  margin-right: 50px; }

.home__footer__col1 {
  text-align: center; }

.home__footer__h3--branding {
  font-family: rift, sans-serif;
  font-style: italic;
  color: transparent;
  font-weight: bold;
  display: block;
  font-size: 3.5rem;
  text-align: center;
  -webkit-text-stroke: 1px #FE403F;
  margin-bottom: -20px; }

.home__footer__h3--branding:hover {
  font-family: rift, sans-serif;
  font-style: italic;
  color: #FE403F;
  font-weight: bold;
  display: block;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: -20px; }

.home__footer__h3--performance {
  font-family: rift, sans-serif;
  font-style: italic;
  color: #FE403F;
  font-weight: bold;
  display: block;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: -20px; }

.home__footer__h3--webdesign {
  font-family: rift, sans-serif;
  font-style: italic;
  color: transparent;
  font-weight: bold;
  display: block;
  font-size: 3.5rem;
  text-align: center;
  -webkit-text-stroke: 1px #FE403F; }

.home__footer__h3--webdesign:hover {
  font-family: rift, sans-serif;
  font-style: italic;
  color: #FE403F;
  font-weight: bold;
  display: block;
  font-size: 3.5rem;
  text-align: center; }

.home_footer_2020 {
  background-color: #FE403F;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center; }

.home_footer_2020_h4 {
  color: white;
  font-family: rift, sans-serif;
  font-size: 1.2rem; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .home__footer__h3--branding {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    margin-bottom: -20px; }
  .home__footer__h3--branding:hover {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center;
    margin-bottom: -20px; }
  .home__footer__h3--performance {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center;
    margin-bottom: -20px; }
  .home__footer__h3--webdesign {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F; }
  .home__footer__h3--webdesign:hover {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center; } }

/* COMPUTADORA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home__footer__h3--branding {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    margin-bottom: -20px; }
  .home__footer__h3--branding:hover {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center;
    margin-bottom: -20px; }
  .home__footer__h3--performance {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center;
    margin-bottom: -20px; }
  .home__footer__h3--webdesign {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F; }
  .home__footer__h3--webdesign:hover {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 5rem;
    text-align: center; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .home__footer__h3--branding {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 6rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F;
    margin-bottom: -20px; }
  .home__footer__h3--branding:hover {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 6rem;
    text-align: center;
    margin-bottom: -20px; }
  .home__footer__h3--performance {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 6rem;
    text-align: center;
    margin-bottom: -20px; }
  .home__footer__h3--webdesign {
    font-family: rift, sans-serif;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 6rem;
    text-align: center;
    -webkit-text-stroke: 1px #FE403F; }
  .home__footer__h3--webdesign:hover {
    font-family: rift, sans-serif;
    font-style: italic;
    color: #FE403F;
    font-weight: bold;
    display: block;
    font-size: 6rem;
    text-align: center; } }

/* COLORES */
/* TIPOGRAFÍA */
body {
  font-size: 62,5%; }

#btnTop {
  background-color: transparent;
  border: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  outline: none; }

.bi-arrow-up-circle {
  color: #E3E3E3; }

html, body {
  position: relative;
  overflow-x: hidden; }
