@import "variables.scss";

#home {
  background-color: white;
  height: 100vh;
  padding-bottom: 50px;
}

.home__hero__col1 {
    padding-top: 200px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 0;
}

.home__hero__h1--social {
    font-family: $fuente;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 6.5rem;
    text-align: center;
    -webkit-text-stroke: 1px $rojo;
    opacity: 0.15;
}

.home__hero__h1--guinda {
    font-family: $fuente;
    font-style: italic;
    color: $rojo;
    font-weight: bold;
    display: block;
    font-size: 6.5rem;
    text-align: center;
    margin-top: -100px;
    margin-bottom: -100px;
}

.flicker-2 {
	-webkit-animation: flicker-2 2s linear 2 both;
	        animation: flicker-2 2s linear 2 both;
}

@-webkit-keyframes flicker-2 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    45.99% {
      opacity: 1;
    }
    46% {
      opacity: 0;
    }
    46.9% {
      opacity: 0;
    }
    46.91% {
      opacity: 1;
    }
    51.99% {
      opacity: 1;
    }
    52% {
      opacity: 0;
    }
    52.8% {
      opacity: 0;
    }
    52.81% {
      opacity: 1;
    }
  }
  @keyframes flicker-2 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    45.99% {
      opacity: 1;
    }
    46% {
      opacity: 0;
    }
    46.9% {
      opacity: 0;
    }
    46.91% {
      opacity: 1;
    }
    51.99% {
      opacity: 1;
    }
    52% {
      opacity: 0;
    }
    52.8% {
      opacity: 0;
    }
    52.81% {
      opacity: 1;
    }
  }

.home__hero__h1--media {
    font-family: $fuente;
    font-style: italic;
    color: transparent;
    font-weight: bold;
    display: block;
    font-size: 6.5rem;
    text-align: center;
    -webkit-text-stroke: 1px $rojo;
    opacity: 0.15;
}

.home__hero__col2 {
    padding-top: 250px;
}

.bounce-top {
	-webkit-animation: bounce-top 0.9s 2s both;
	        animation: bounce-top 0.9s 2s both;
}

@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }

/* MEDIA QUERIES */

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {

    .home__hero__col1 {
        padding-top: 300px;
    }

    .home__hero__h1--social {
        font-family: $fuente;
        font-style: italic;
        color: transparent;
        font-weight: bold;
        display: block;
        font-size: 7rem;
        text-align: center;
        -webkit-text-stroke: 1px $rojo;
        opacity: 0.1;
    }
    
    .home__hero__h1--guinda {
        font-family: $fuente;
        font-style: italic;
        color: $rojo;
        font-weight: bold;
        display: block;
        font-size: 7rem;
        text-align: center;
        margin-top: -100px;
        margin-bottom: -100px;
    }
    
    .home__hero__h1--media {
        font-family: $fuente;
        font-style: italic;
        color: transparent;
        font-weight: bold;
        display: block;
        font-size: 7rem;
        text-align: center;
        -webkit-text-stroke: 1px $rojo;
        opacity: 0.1;
    }
}

/* COMPUTADORA */

@media (min-width: 992px) and (max-width: 1199.98px) {

    .home__hero__col1 {
        padding-top: 100px;
    }

    .home__hero__h1--social {
        font-family: $fuente;
        font-style: italic;
        color: transparent;
        font-weight: bold;
        display: block;
        font-size: 8rem;
        text-align: center;
        -webkit-text-stroke: 1px $rojo;
        opacity: 0.1;
    }
    
    .home__hero__h1--guinda {
        font-family: $fuente;
        font-style: italic;
        color: $rojo;
        font-weight: bold;
        display: block;
        font-size: 8rem;
        text-align: center;
        margin-top: -100px;
        margin-bottom: -100px;
    }
    
    .home__hero__h1--media {
        font-family: $fuente;
        font-style: italic;
        color: transparent;
        font-weight: bold;
        display: block;
        font-size: 8rem;
        text-align: center;
        -webkit-text-stroke: 1px $rojo;
        opacity: 0.1;
    }

    .home__hero__col2 {
      padding-top: 200px;
  }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {

    .home__hero__col1 {
      padding-top: 50px;
    }
      
    .home__hero__h1--social {
          font-family: $fuente;
          font-style: italic;
          color: transparent;
          font-weight: bold;
          display: block;
          font-size: 9rem;
          text-align: center;
          -webkit-text-stroke: 1px $rojo;
          opacity: 0.1;
    }
    
    .home__hero__h1--guinda {
        font-family: $fuente;
        font-style: italic;
        color: $rojo;
        font-weight: bold;
        display: block;
        font-size: 9rem;
        text-align: center;
        margin-top: -100px;
        margin-bottom: -100px;
    }
    
    .home__hero__h1--media {
        font-family: $fuente;
        font-style: italic;
        color: transparent;
        font-weight: bold;
        display: block;
        font-size: 9rem;
        text-align: center;
        -webkit-text-stroke: 1px $rojo;
        opacity: 0.1;
    }

    .home__hero__col2 {
      padding-top: 150px;
  }
}