@import "variables.scss";

.home__trabajos {
    background-color: white;
    padding: 200px 0px 200px 0px !important;
}

.home__trabajos__col1 {
    margin-bottom: 30px;
    text-align: right;
}

.home__trabajos__h2--02 {
    font-family: $fuente;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    color: $rojo;
    margin-bottom: -20px;
    margin-right: 30px;
}

.home__trabajos__h2--trabajos {
    font-family: $fuente;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px $rojo;
    margin-right: 30px;
}

.home__trabajos__row {
    margin-bottom: 30px;
}

/* PORTFOLIO */

.home__trabajos__col2 {
    text-align: left;
}

.home__trabajos__col3 {
    text-align: left;
}

.home__trabajos__col2--seccion1 {
    position: relative;
}

.home__trabajos__col2--seccion2 {
    position: relative;
}

.home__trabajos__h3--Portfolio {
    font-family: $fuente;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
    color: $gris;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 0px;
}

.home__trabajos__p--Portfolio {
    font-family: $fuente;
    font-size: 1rem;
    font-style: italic;
    font-weight: regular;
    color: $gris;
    text-align: center;
    margin-bottom: 35px;
}

.imgTumenuonline {
    width: 100%;
}

/* FIN PORTFOLIO */

.home__trabajos--logos {
    height: 100px;
    width: auto;
}

/* MEDIA QUERIES */

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {

    .home__trabajos__col1 {
        text-align: right;
    }

    .home__trabajos__h2--02 {
        font-family: $fuente;
        font-size: 4.5rem;
        font-weight: bold;
        font-style: italic;
        color: $rojo;
        margin-bottom: -20px;
    }
    
    .home__trabajos__h2--trabajos {
        font-family: $fuente;
        font-size: 4.5rem;
        font-weight: bold;
        font-style: italic;
        color: transparent;
        -webkit-text-stroke: 1px $rojo;
    }

}

/* COMPUTADORA */

@media (min-width: 992px) and (max-width: 1199.98px) {

    .home__trabajos {
        background-color: $blanco;
        padding: 100px 50px 100px 50px !important;
    }

    .home__trabajos__col1 {
        text-align: right;
    }

    .home__trabajos__h2--02 {
        font-family: $fuente;
        font-size: 4.5rem;
        font-weight: bold;
        font-style: italic;
        color: $rojo;
        margin-bottom: -20px;
    }
    
    .home__trabajos__h2--trabajos {
        font-family: $fuente;
        font-size: 4.5rem;
        font-weight: bold;
        font-style: italic;
        color: transparent;
        -webkit-text-stroke: 1px $rojo;
    }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {

    .home__trabajos {
        background-color: $blanco;
        padding: 100px 50px 100px 50px !important;
    }

    .home__trabajos__col1 {
        padding-right: 200px;
        text-align: right;
        padding-top: 50px;
    }

    .home__trabajos__h2--02 {
        font-family: $fuente;
        font-size: 5rem;
        font-weight: bold;
        font-style: italic;
        color: $rojo;
        margin-bottom: -20px;
    }
    
    .home__trabajos__h2--trabajos {
        font-family: $fuente;
        font-size: 5rem;
        font-weight: bold;
        font-style: italic;
        color: transparent;
        -webkit-text-stroke: 1px $rojo;
    }
}
