@import "variables.scss";

    html {
        scroll-behavior: smooth;
    }

    .menu {
        display: flex;
        flex-direction: row;
        padding-right: 30px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .logoMenu {
        font-family: $fuente;
        color: $rojo;
        font-size: 1.6rem;
        font-weight: bold;
        font-style: italic;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        list-style: none;
    }

    ul li {
        margin-right: 20px;
        text-decoration: none;
        margin-bottom: 50px;
    }
    
    ul li a {
        font-family: $fuente;
        font-size: 1.4rem;
        color: $rojo;
        font-style: italic;
    }
    
    ul li a:hover {
        font-family: $fuente;
        font-size: 1.4rem;
        color: $rojo;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .burgerBtn {
        display: none;
    }

    /* MEDIA QUERIES */

    /* IPAD */

    @media (min-width: 768px) and (max-width: 991.98px) {
        body {
            overflow-x: hidden;
        }
        
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 30px;
            padding-top: 30px;
            padding-left: 30px;
            padding-bottom: 30px;
        }
        
        .nav-links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            list-style: none;
            position: absolute;
            height: 100vh;
            width: 100%;
            top: 15vh;
            right: 0;
            background-color: $rojo;
            z-index: 1;
            transform: translate(100%);
            transition: transform 0.5s ease-in;
        }
        
        .liHome {
            margin-right: 20px;
            text-decoration: none;
            margin-bottom: 50px;
            transform: translate(500px);
            transition: transform 1s ease-in-out;
        }

        .liAbout {
            margin-right: 20px;
            text-decoration: none;
            margin-bottom: 50px;
            transform: translate(500px);
            transition: transform 1s ease-in-out 0.2s;
        }

        .liTrabajos {
            margin-right: 20px;
            text-decoration: none;
            margin-bottom: 50px;
            transform: translate(500px);
            transition: transform 1s ease-in-out 0.4s;
        }

        .liContacto {
            margin-right: 20px;
            text-decoration: none;
            margin-bottom: 50px;
            transform: translate(500px);
            transition: transform 1s ease-in-out 0.6s;
        }

        .active {
            transform: translate(0%);
        }

        
        ul li a {
            font-family: $fuente;
            font-size: 1.4rem;
            color: white;
            font-style: italic;
        }
        
        ul li a:hover {
            font-family: $fuente;
            font-size: 1.4rem;
            color: white;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 5px;
        }
        
        .logoMenu {
            font-family: $fuente;
            color: $rojo;
            font-size: 1.6rem;
            font-weight: bold;
            font-style: italic;
            margin-top: 10px;
        }
        
        /* ICONO BURGER */
        
        .contenedorBurger {
            display: flex;
            margin-left: auto;
        }
        
        .linea1 {
            background-color: $rojo;
            width: 25px;
            height: 3px;
            transition: transform 0.2s ease-in;
        }
        
        .linea2 {
            background-color: $rojo;
            width: 25px;
            height: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            transition: opacity 0.2s ease-in;
        }
        
        .linea3 {
            background-color: $rojo;
            width: 25px;
            height: 3px;
            transition: transform 0.2s ease-in;
        }

        .toggle .linea1  {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        
        .toggle .linea2 {
            opacity: 0;
        }
        
        .toggle .linea3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
        
        .burgerBtn {
            display: block;
            cursor: pointer;
        }

        .nav-active {
            transform: translateX(0%);
        }
    }

    /* CELULAR */

    @media (max-width: 768px) {
        body {
            overflow-x: hidden;
        }
        
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 30px;
            padding-top: 30px;
            padding-left: 30px;
            padding-bottom: 30px;
        }
        
        .nav-links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            list-style: none;
            position: absolute;
            height: 100vh;
            width: 100%;
            top: 15vh;
            right: 0;
            background-color: $rojo;
            z-index: 1;
            transform: translate(100%);
            transition: transform 0.5s ease-in;
        }

        .liHome {
            margin-right: 20px;
            text-decoration: none;
            margin-bottom: 50px;
            transform: translate(500px);
            transition: transform 1s ease-in-out;
        }

        .liAbout {
            margin-right: 20px;
            text-decoration: none;
            margin-bottom: 50px;
            transform: translate(500px);
            transition: transform 1s ease-in-out 0.2s;
        }

        .liTrabajos {
            margin-right: 20px;
            text-decoration: none;
            margin-bottom: 50px;
            transform: translate(500px);
            transition: transform 1s ease-in-out 0.4s;
        }

        .liContacto {
            margin-right: 20px;
            text-decoration: none;
            margin-bottom: 50px;
            transform: translate(500px);
            transition: transform 1s ease-in-out 0.6s;
        }

        .active {
            transform: translate(0%);
        }
        
        ul li a {
            font-family: $fuente;
            font-size: 1.4rem;
            color: white;
            font-style: italic;
        }
        
        ul li a:hover {
            font-family: $fuente;
            font-size: 1.4rem;
            color: white;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 5px;
        }
        
        .logoMenu {
            font-family: $fuente;
            color: $rojo;
            font-size: 1.6rem;
            font-weight: bold;
            font-style: italic;
            margin-top: 10px;
        }
        
        /* ICONO BURGER */
        
        .contenedorBurger {
            display: flex;
            margin-left: auto;
        }
        
        .linea1 {
            background-color: $rojo;
            width: 25px;
            height: 3px;
            transition: transform 0.2s ease-in;
        }
        
        .linea2 {
            background-color: $rojo;
            width: 25px;
            height: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            transition: opacity 0.2s ease-in;
        }
        
        .linea3 {
            background-color: $rojo;
            width: 25px;
            height: 3px;
            transition: transform 0.2s ease-in;
        }

        .toggle .linea1  {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        
        .toggle .linea2 {
            opacity: 0;
        }
        
        .toggle .linea3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
        
        .burgerBtn {
            display: block;
            cursor: pointer;
        }

        .nav-active {
            transform: translateX(0%);
        }
    }